{% extends 'base.html.twig' %}

{% block body %}
<h4>Ceci est la home page</h4>


<h5>Bienvenue : {{ name }}</h5>
{% if name == 'Julien' %}

    <h3>Ton accent est chantant</h3>

{% endif %}

    <a  href="{{ path('route_name', {name : 'Julien'}) }}">Aller vers Julien</a>
    <a  href="{{ path('route_name', {name : 'Admin'}) }}">Aller vers Admin</a>

{% endblock %}